<div class="layout header">
    <img src="assets/icons/flag.png" height="55" alt="">
    <!-- <p-button label="Luffy" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
    <p-button label="Robin" styleClass="p-button-rounded p-button-warning p-button-text"></p-button> -->
    <!-- <div class="search-bar">
        <span class="p-input-icon-left" style="width: 100%;">
            <i class="pi pi-search" style="color: #ced4da;"></i>
            <input type="text" pInputText style="width: 100%" placeholder="Search for your fav character"/>
        </span>
    </div> -->
    <span class="images">
        <i class="pi pi-user" (click)="menu.toggle($event)"></i>
        <!-- <i class="pi pi-heart" [routerLink]="['/card/wishlist']"></i>
        <i class="pi pi-shopping-cart" [routerLink]="['/card']"></i> -->
    </span>
    <!-- <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu> -->
</div>

<p-menu #menu [model]="options" appendTo="body" [popup]="true"></p-menu>
