<form [formGroup]="form">
    <div class="auth">
        <div class="col-3">
            <label>Username</label>
            <div class="p-inputgroup mb-2">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText formControlName="user_name" placeholder="Username" />
            </div>
        </div>
        <div class="col-3">
            <label>Password</label>
            <div class="p-inputgroup mb-2">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-lock"></i>
                </span>
                <input pInputText type="password" formControlName="password" placeholder="Password" />
            </div>
        </div>
        <div class="col-3">
            <p-button label="Login" (onClick)="login()"></p-button>
        </div>
    </div>
</form>