<div class="layout footer">
    <!-- <p-divider></p-divider> -->
    <div class="flex justify-content-center align-item-center pb-3">
        <p-button label="About us" styleClass="p-button-secondary p-button-text"></p-button>
        <p-button label="Get in touch" styleClass="p-button-secondary p-button-text"></p-button>
        <p-button label="Help center" styleClass="p-button-secondary p-button-text"></p-button>
        <p-button label="Contact" styleClass="p-button-secondary p-button-text"></p-button>
    </div>
</div>