<div class="flex align-items-center justify-content-between pb-3">
    <h1>Products List</h1>
    <button pButton (click)="showDialog()" label="Add Product" class="p-button-success"></button>
</div>


<div class="">
    <!-- <p-selectButton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name" optionValue="class"></p-selectButton> -->
    <p-table [totalRecords]="rowsCount" [value]="products" [paginator]="true"  [rows]="pagination"
    [selectionPageOnly]="true" [lazy]="true"
        (onLazyLoad)="loadmore($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>Code </th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr (click)="getProduct(product._id)">
                <td>{{ rowIndex +1 }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description}}</td>
                <td>{{ product.description}}</td>
                <td>
                    <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                    <!-- <button pButton (click)="showDialog(false, true)" label="Edit" class="p-button-success"></button>
                    <button pButton (click)="showDialog(false)" label="View" class="p-button-success"></button>
                    <button pButton (click)="confirm($event)" label="Delete" class="p-button-success"></button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No items found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!-- <button *ngIf="hasNextPage" pButton (click)="loadmore()" label="Load More" class="p-button-success"></button> -->
</div>

<p-dialog header="Add Item" [(visible)]="addVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">

    <form [formGroup]="form">
        <div class="card">
            <div class="field">
                <label for="firstname1">Name</label>
                <input pInputText
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    type="text" formControlName="name" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">Description</label>
                <input pInputText type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="description" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">price</label>
                <input pInputText type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="price" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">quantity</label>
                <input pInputText type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="quantity" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">image</label>
                <p-fileUpload mode="basic" accept="image/*" (onSelect)="onBasicUploadAuto($event)" [auto]="false"
                    chooseLabel="Browse"></p-fileUpload>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center">
            <button pButton (click)="submit()" label="Add Product" class="p-button-success"></button>
        </div>
    </form>
</p-dialog>

<p-dialog header="View Item" [(visible)]="viewVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <span>
        <p>
            Name: {{selectedProduct?.name}}
        </p>
        <p>
            Description: {{selectedProduct?.description}}
        </p>
        <p>
            Price: {{selectedProduct?.price}}
        </p>
        <p>
            Quantity: {{selectedProduct?.quantity}}
        </p>
        <p>
            <img [src]="'http://localhost:3000/api/items/image/'+selectedProduct?.img " alt="">
        </p>
    </span>
</p-dialog>

<p-dialog header="Edit Item" [(visible)]="editVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="form">
        <div class="card">
            <div class="field">
                <label for="firstname1">Name</label>
                <input pInputText
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    type="text" formControlName="name" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">Description</label>
                <input pInputText type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="description" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">price</label>
                <input pInputText type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="price" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">quantity</label>
                <input pInputText type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="quantity" placeholder="" />
            </div>
            <div class="field">
                <label for="lastname1">image</label>
                <p-fileUpload mode="basic" accept="image/*" (onSelect)="onBasicUploadAuto($event)" [auto]="false"
                    chooseLabel="Browse"></p-fileUpload>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center">
            <button pButton (click)="editItem()" label="Edit Product" class="p-button-success"></button>
        </div>
    </form>
</p-dialog>


<!-- <p-confirmPopup></p-confirmPopup> -->
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-menu #menu [model]="items" appendTo="body" [popup]="true"></p-menu>